.editor-container {
  height: 500px;
  border: 1px solid #ccc;
}

.row {
  display: flex;
  justify-content: space-around;
  height: 41px;
}

.column {
  display: flex;
  align-items: center;
}
.header{
  height: 50PX;
  background-color: #c0bfbf;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.compare {
  display: flex; 
}

.upload-file {
  background-color: #638eef;
  color: white;
  padding: 5px 10px;
  border-radius: 0.3rem;
  cursor: pointer;
}
.select-language{
  margin-left: 30px;
}